<a href="https://colab.research.google.com/github/egisahril/Latihan_Machine_learning/blob/main/Latihan_SKlearn_decision_tree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
from sklearn.datasets import load_iris

In [2]:
#membaca file iris.csv
iris = pd.read_csv('Iris.csv')

In [3]:
#melihat informasi datasets pada 5 baris pertama
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [7]:
# menghilangkan kolom yang tidak penting
iris.drop('Id', axis=1, inplace=True)

In [8]:
iris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [9]:
# memisahkan atribut dan label
x = iris[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = iris['Species']

In [10]:
from sklearn.tree import DecisionTreeClassifier

# Membuat model Decision tree
tree_model = DecisionTreeClassifier()

# Melakukan Pelatihan model terhadap data
tree_model.fit(x, y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [13]:
# Prediksi model dengan tree_model.predict([[sepalLength, SepalWidth, PetalLength, PetalWidth]])
tree_model.predict([[6.2, 3.4, 5.4, 2.3]])

array(['Iris-virginica'], dtype=object)

In [14]:
tree_model.predict([[4.2, 2.5, 3.4, 6.2]])

array(['Iris-versicolor'], dtype=object)

In [19]:
from sklearn.tree import export_graphviz
export_graphviz(
    tree_model,
    out_file = 'iris_tree.dot',
    feature_names = ['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm'],
    class_names = ['Iris-Setosa', 'Iris-versicolor', 'Iris-virginica'],
    rounded = True,
    filled =True

)